@(loginForm: Form[LoginData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Login to Quizzy Peasy !") {
    @defining(play.core.PlayVersion.current) { version =>
        <!-- from https://codepen.io/trangsihung/pen/zbwGx-->
        <div class="form-wrap">

            <div class="tabs-content">
                @helper.form(action = routes.AuthentificationController.login(), args = 'class -> "login-form") {
                    @if(loginForm.hasGlobalErrors) {
                        <ul>
                        @for(error <- loginForm.globalErrors) {
                            <li>@error.format</li>
                        }
                        </ul>
                    }
                    @helper.CSRF.formField
                    @helper.inputText(loginForm("user_login"), '_label -> "Username", 'class -> "input", 'autocomplete -> "off", 'placeholder -> "Username", '_showConstraints -> false)
                    @helper.inputPassword(loginForm("user_pass"), '_label -> "Password",'class -> "input", 'autocomplete -> "off", 'placeholder -> "Password",'_showConstraints -> false)
                    <input type="submit" class="button" value="Login">
                }<!--.login-form-->
            </div><!--.tabs-content-->
        </div><!--.form-wrap-->
    }
}
