@(message: String, style: String = "scala")(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<div class="content">
        <!--from https://codepen.io/maheshambure21/pen/bNXXeM/-->
    <h2>School</h2>
    <div class="grid">
        <figure class="effect-img">
            <img src="@routes.Assets.versioned("images/scala2.png")" alt="scala"/>
            <figcaption>
                <h2><span></span></h2>
                <p>If I were to pick another language to use today other than Java, it would be SCALA - James Gosling</p>
                <a href=@routes.QuizController.create(2)>View more</a>
            </figcaption>
        </figure>
        <figure class="effect-img">
            <img src="@routes.Assets.versioned("images/heigvd2.png")" height="213.15px" alt="hesso"/>
            <figcaption>
                <h2><span></span></h2>
                <p>There is always better...</p>
                <a href=@routes.QuizController.create(1)>View more</a>
            </figcaption>
        </figure>
    </div>
</div>