@import models.QuestionType
@(quizAnswerForm: Form[QuizAnswerData], curQuestion: FullQuizzQuestion, allAnswers: Seq[Answer])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Quiz") {
    @helper.form(action = routes.QuizController.submitQuizQuestion(curQuestion.userAnswer.quizId, curQuestion.userAnswer.id.get)) {
        @helper.CSRF.formField
        @helper.input(quizAnswerForm("id")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
        }

        @*Current question*@
        <div>
            <div>@curQuestion.question.name</div>
            <div>@curQuestion.question.content</div>
            @if(curQuestion.userAnswer.isFinal) {
                <div>You choose: @curQuestion.userAnswer.userAnswer</div>
                @if(curQuestion.isCorrect) {
                    <div class="correct-answer">The answer is correct. Felicitation.</div>
                } else {
                    <div class="wrong-answer">The answer is wrong.</div>
                    <div>
                        The correct answer must match:
                        @curQuestion.possibleAnswers.filter(_._2).map(p => p._1.value)
                    </div>
                }
            } else {
                @helper.input(quizAnswerForm("id")) { (id, name, value, args) =>
                    <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                }
                @curQuestion.question.questionType match {
                    case QuestionType.TrueOrFalse | QuestionType.MultipleChoice => {
                        @helper.inputRadioGroup(quizAnswerForm("answer"), curQuestion.possibleAnswers.map(a => (a._1.value, a._1.value)), '_label -> "Answer", 'class -> "input")
                    }
                    case QuestionType.Match => {
                        @helper.inputText(quizAnswerForm("answer"), '_label -> "Answer", 'class -> "input", 'autocomplete -> "off", 'placeholder -> "Your answer")
                    }
                }
                <input type="submit" value="Check" />
            }
        </div>

        @*Link to the other questions*@
        <div>
            @for((q, i) <- allAnswers.zipWithIndex) {
                <input
                    type="submit"
                    value="@{i + 1}"
                    class="@{if(q.isFinal) "final" else "in_progress"}"
                    @if(q.id.get == curQuestion.userAnswer.id.get){ disabled="true" }
                    formaction="@routes.QuizController.skipToQuizQuestion(q.quizId, q.id.get)"
                />
            }
        </div>
        <div>
            <a href="@routes.QuizController.quizReview(curQuestion.quiz.id.get)">Review all questions</a>
        </div>
    }
}