@(message: String, categories: Seq[Category])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<div class="content">
        <!--from https://codepen.io/maheshambure21/pen/bNXXeM/-->
    <h2>School</h2>
    <div class="grid">
        @for(c <- categories) {

            @helper.form(action = routes.QuizController.create(c.id.get), args = 'id -> {"myForm" + c.id.get}) {
                <figure class="effect-img">
                    <img src="@routes.Assets.versioned("/images/" + c.id.get + ".png")" height="213.15px" alt="@c.name"/>
                    <figcaption>
                        <h2><span></span></h2>
                        <p>@c.description</p>
                        @helper.CSRF.formField
                        <a href=# onclick="document.getElementById('myForm' + @c.id.get).submit()">View more</a>
                    </figcaption>
                </figure>
            }
        }
    </div>
</div>