@import models.QuestionType
@(allQuestions: Seq[FullQuizzQuestion])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Quiz review") {
    @for((f@FullQuizzQuestion(cat, quiz, quest, ans, pos), i) <- allQuestions.zipWithIndex) {
        <div>
            <a href="@routes.QuizController.quizQuestion(quiz.id.get, ans.id.get)">@{i + 1}</a>
            @if(ans.isFinal) {
                @if(f.isCorrect) {
                    <div>You have correctly answered this question</div>
                } else {
                    <div>You have wrongly answered this question</div>
                }
            } else {
                <div>You have not yet answered to this question</div>
            }
        </div>
    }

    @if(allQuestions(0).quiz.score >= 0) {
        <div>Your score is: @allQuestions(0).quiz.score / @allQuestions.size</div>
    } else {
        @helper.form(action = routes.QuizController.quizScore(allQuestions(0).quiz.id.get)) {
            @helper.CSRF.formField
            <input type="submit" value="Score and lock" />
        }
    }
}