@(quizAndCat: Seq[(Quiz, Category)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@main("Your quizzes") {
    <div class="content">
            <!--from https://codepen.io/maheshambure21/pen/bNXXeM/-->
        <h2>Choose a quiz that you want to review:</h2>
        <div class="row mt-3">
            @if(quizAndCat.isEmpty) {
                You have not created any quiz yet.
            } else {
                @for((q, c) <- quizAndCat) {
                    <div class="card w-25 text-white bg-dark">
                        <div class="card-body">
                            <h3 class="card-title">#@q.id.get</h3>
                            <p class="card-text">Category: @c.name
                            @if(q.score >= 0){
                                <br/>Score: @q.score pt
                            } else {
                                <br/>In progress
                            }
                        </p>
                            <a href="@routes.QuizController.quizReview(q.id.get)" class="btn btn-secondary">Review</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}